<!-- portfolio.j2 -->
<article class="portfolio" data-page="portfolio">
  <header>
    <h2 class="h2 article-title">{{projects.HEADER.label}}</h2>
  </header>
  <section class="projects">
    <ul class="filter-list">
      <li class="filter-item">
        <button class="active" data-filter-btn>All</button>
      </li>
      {% set categories = projects.PROJECTS | map(attribute='category') | unique | list %}
      {% for category in categories %}
      <li class="filter-item">
        <button data-filter-btn>{{category}}</button>
      </li>
      {% endfor %}
    </ul>
    <div class="filter-select-box">
      <button class="filter-select" data-select>
        <div class="select-value" data-selecct-value>Select category</div>
        <div class="select-icon">
          <ion-icon name="chevron-down"></ion-icon>
        </div>
      </button>
      <ul class="select-list">
        <li class="select-item">
          <button data-select-item>All</button>
        </li>
        {% for category in categories %}
        <li class="select-item">
          <button data-select-item>{{category}}</button>
        </li>
        {% endfor %}
      </ul>
    </div>
    <!-- 1. Project List -->
    <ul class="project-list">
      {% for item in projects.PROJECTS %}
      <li class="project-item active"
          data-filter-item
          data-category="{{ item.category | lower }}"
          {% if item.detail %} data-modal-target="modal-{{ loop.index }}"{% endif %}>
        <a href="#" class="project-link">
          <figure class="project-img">
            <img src="{{ item.image }}"
                 alt="{{ item.title }}"
                 loading="lazy">
            {% if item.detail %}
            <!-- opens modal -->
            <div class="project-item-icon-box" data-modal-open>
              <ion-icon name="eye-outline"></ion-icon>
            </div>
            {% elif item.url %}
            <!-- link icon goes to URL -->
            <a class="project-item-icon-box link-icon"
              href="{{ item.url }}"
              target="_blank"
              title="Visit project">
              <ion-icon name="link-outline"></ion-icon>
            </a>
          {% endif %}
          </figure>

          <h3 class="project-title">{{ item.title }}</h3>
          <p class="project-category">{{ item.category }}</p>
        </a>
      </li>
      {% endfor %}
    </ul>

    <!-- 2. Modals (rendered at root level, so they float above everything) -->
    {% for item in projects.PROJECTS %}
      {% if item.detail %}
      <div class="project-modal" id="modal-{{ loop.index }}" data-modal>
        <div class="modal-overlay" data-modal-close></div>
        <div class="modal-content">
          <button class="modal-close" data-modal-close>&times;</button>
          <h3>{{ item.title }}</h3>
          <!-- project image in the modal -->
         <img src="{{ item.image }}"
              alt="{{ item.title }}"
              class="modal-image">
          <div class="modal-detail">
            {{ item.detail  
            | replace('\n', '<br>')  
            | safe }}
          </div>
          <div class="modal-actions">
            <a href="{{ item.url }}" target="_blank" class="btn">View on GitHub</a>
            <a href="{{ item.report_url }}" target="_blank" class="btn">View Report</a>
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}

  </section>
</article>